name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          user: trgchinhh
          token: ${{ secrets.METRICS_TOKEN }}

          template: classic
          base: header, activity, community, repositories

          plugin_languages: yes
          plugin_isocalendar: yes
          plugin_streak: yes
          plugin_followup: yes
          plugin_achievements: yes
